<div class="post-list">

  <% @result.each do |room| %>
   <% if room.image.attached? %>
        <%= image_tag room.image ,size: "300x250" %>
        <% end %>
    <%= room.room_name %>
     <%= room.address %>
      <%= room.price %>
  <% end %>
</div>