<h2>登録済みルーム一覧</h2>
<table>
<thead>
<tr>
<th>ルーム画像</th>
<th>ルーム名</th>
<th>ルーム紹介</th>
<th>料金</th>
<th>作成日</th>


</tr>
</thead>
<tbody>

<% @rooms. each do |room| %>

<tr>
<td># ファイルをモデルから指定する場合


<img src="./imgge.jpg" width='50%' height='100%'>



<td><%= room.room_name %> </td>
<td> <%= room.introduction %></td>
<td> <%= room.price %> </td>
<td> <%= room.created_at%></td>
<tr>
<% end %>
</tbody>


