a :hover {
    color: skyblue;
  }
.head{
list-style:none

}

.list_navi{
  list-style:none
 
}

.color{
  background-color: #1c1d3b;
  height: 60px;
  align-items: center;
  isplay: flex;
  padding-top: 1.5rem;
    padding-bottom: 0.5rem;
  padding-left: 10px;

}